<form method="POST" action="/figures">
  <p>
    <label for="figure_name">Name </label>
    <input type="text" id="figure[name]" name="figure_name">
  </p>
  <p>
    <h2>Titles</h2>
  </p>
  <p>
    <h2>Create New Title:</h2>
    <input type="text" id="title[name]" name="title_name">
  </p>
  <p>
    <h2>Landmarks</h2>
  </p>
  <p>
    <h2>Create New Landmark:</h2>
    <label for="landmark_name">Name: </label><input type="text" id="landmark[name]" name="landmark_name">
    <label for="landmark_year">Year: </label><input type="text" id="landmark[year]" name="landmark_year">
  </p>
  <input type="submit" name="Create New Figure">
</form>
