<form method="POST" action="/figures">
  <p>
    <label for="figure_name">Name </label>
    <input type="text" id="figure[name]" name="figure_name">
  </p>
  <input type="submit" name="Create New Figure">
</form>
